body {
    font-family: Arial, sans-serif;
    background-color: #090909;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #030303;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(244, 244, 244);
    padding: 20px;
  }

  h1 {
    text-align: center;
    margin: 50px;
    font-weight: bold;
    color:#27ff01;
  }
  
  .flex-item {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(12, 12, 12);
    font-weight: bold;
  }
  
  .flex-item:nth-child(1) {
    background-color: #0efdfd;
  }
  
  .flex-item:nth-child(2) {
    background-color: #52ff2fe8;
  }
  
  .flex-item:nth-child(3) {
    background-color: #ff4011;
  }
  

  .button {
    display: inline-block;
    padding: 12px 24px;
    margin-left: 10%;
    background-color: #45fd42;
    color: #060606;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .button:hover {
    background-color: #45fd40;
    transform: scale(1.05);
  }
    